header {
    background-color: #90b7de; /* Укажите цвет фона */
    color: #091827; /* Укажите цвет текста */
    padding: 10px 0;
    text-align: center;
    position: fixed; /* Зафиксируйте шапку */
    top: 0;
    width: 100%;
  }
  
  nav {
    display: inline; /* Выровняйте ссылки по горизонтали */
    justify-content: center;
    gap: 15px; /* Укажите расстояние между ссылками */
  }
  
  nav a {
    color: #04213e; /* Укажите цвет ссылок */
    text-decoration: none; /* Уберите подчеркивание */
    padding: 10px;
  }

  .hero {
    background-image: url('/image/mounPic.webp'); /* Добавьте ссылку на изображение */
    background-size: cover; /* Укажите размер фона */
    background-position: center; /* Позиционируйте изображение */
    height: 100vh; /* Укажите высоту секции */
    display: flex; /* Используйте Flexbox */
    justify-content: center; /* Выровняйте элементы по горизонтали */
    align-items: center; /* Выровняйте элементы по вертикали */
    text-align: center; /* Выровняйте текст */
    color: white; /* Укажите цвет текста */
  }

  .about {
    padding: 20px 20px;
    display: flex; /* Используйте Flexbox */
    justify-content: center; /* Выровняйте содержимое */
    gap: 10px; /* Укажите расстояние между элементами */
  }

  .about-text {
    flex: 1; /* Задайте, как текст будет занимать пространство */
    min-width: 300px;
  }
  
  .about img {
    flex: 2;
    max-width: 500px; /* Установите максимальную ширину изображения */
    border-radius: 20px; /* Добавьте скругленные углы */
  }

  .services {
    background-color: white; /* Цвет фона */
    padding: 20px 20px;
    text-align: center;
  }
  
  .cards {
    display: flex; /* Используйте Flexbox */
    justify-content: center; /* Выровняйте карточки */
    gap: 10px; /* Расстояние между карточками */
  }
  
  .card {
    background-color: white; /* Цвет фона карточки */
    padding: 20px;
    width: 500px; /* Укажите ширину карточки */
    border-radius: 20px; /* Скруглите углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Добавьте тень */
  }